.main { 
    min-height: 100vh;
    background-color: #242323;
    padding: 0 10px 0 11px;
}

.input {
    background-color: #242323;
    border-color: #fff;
    color: #fff;
    width: 60%;
}

.input:focus {
    border-color: #fff;
}

.button {
    background-color: #242323;
    border: 1px solid white;
    color: #fff; 
    margin-left: 10px;
}

.box {
    margin: 0 0 20px 0; 
    height: 420px;
}

.media-content {
    margin: 10px 0 20px;
}

.fas {
    margin-right: 5px;
}

.divider {
    background-color: white;
    height: 1px;
}

/* Animations */
.fade-in {
	-webkit-animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.fade-in-bottom {
	-webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    /* animation-delay: 0.75s; */
}

@-webkit-keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
